@import '~@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ab-app-primary: mat-palette($mat-amber);
$ab-app-accent: mat-palette($mat-purple, A200, A100, A400);
// The warn palette is optional (defaults to red).
$ab-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$ab-app-theme: mat-light-theme($ab-app-primary, $ab-app-accent, $ab-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.ab-default-theme {
    @include angular-material-theme($ab-app-theme);
}

// Define an alternate dark theme.
$ab-app-dark-primary: mat-palette($mat-blue);
$ab-app-dark-accent: mat-palette($mat-lime, A200, A100, A400);
$ab-app-dark-warn: mat-palette($mat-deep-orange);
$ab-app-dark-theme: mat-dark-theme($ab-app-dark-primary, $ab-app-dark-accent, $ab-app-dark-warn);
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.ab-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.ab-dark-theme {
    @include angular-material-theme($ab-app-dark-theme);
}

// Define an alternate green theme.
$ab-app-green-primary: mat-palette($mat-green);
$ab-app-green-accent: mat-palette($mat-deep-purple, A200, A100, A400);
$ab-app-green-warn: mat-palette($mat-orange);
$ab-app-green-theme: mat-dark-theme($ab-app-green-primary, $ab-app-green-accent, $ab-app-green-warn);
.ab-green-theme {
    @include angular-material-theme($ab-app-green-theme);
}
